<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:utils="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">
    <!--
        bean  ：配置一个对象，将对象交给IOC容器管理
       class : 设置bean对象对应的类型
    -->
    <bean id="helloworld" class="com.zhr.springhello.pojo.SpringHello"/>
    <bean id="student" class="com.zhr.springhello.pojo.Student">
        <!--       setter 注入
                property 通过成员变量的方法来进行赋值
                name 设置需要赋值的属性名
                value 设置为属性所赋的值
        -->
        <property name="sid" value="1001"/>
        <property name="sname" value="张三"/>
        <property name="gender" value="男"/>
        <property name="age" value="23"/>
    </bean>
    <bean id="studentone" class="com.zhr.springhello.pojo.Student">
        <property name="age" value="10"/>
        <!--
         &lt;小于  &gt;大于
         <![CDATA[<qaq>]]> 为xml 的特殊标签，不能写在值当中，只能写在标签当中
         当中的值会按照原样解析。
        -->
        <property name="gender">
            <value><![CDATA[<qaq>]]></value>
        </property>
        <property name="sid" value="1"/>
        <!-- 赋空值-->
        <property name="sname">
            <null/>
        </property>
    </bean>

    <!--为一个类类型赋值，引用外部bean来实现-->
    <bean id="calls" class="com.zhr.springhello.pojo.Class">
        <property name="cid" value="111"/>
        <property name="cname" value="asdggad"/>
    </bean>
    <bean id="studenttwo" class="com.zhr.springhello.pojo.Student">
        <property name="sid" value="1004"/>
        <property name="sname" value="阿卡纳发"/>
        <property name="age" value="145"/>
        <property name="gender" value="男"/>
        <property name="aClass" ref="calls"/>
    </bean>
    <bean id="teacher1" class="com.zhr.springhello.pojo.Teacher">
        <property name="tid" value="12"/>
        <property name="tname" value="abc"/>
    </bean>
    <bean id="teacher2" class="com.zhr.springhello.pojo.Teacher">
        <property name="tname" value="aaa"/>
        <property name="tid" value="22"/>
    </bean>
    <!--通过级联的方式，但是需要提前实例化对象-->
    <bean id="studentthree" class="com.zhr.springhello.pojo.Student">
        <property name="sid" value="1004"/>
        <property name="sname" value="阿卡纳发"/>
        <property name="age" value="145"/>
        <property name="gender" value="男"/>
        <property name="aClass" ref="calls"/>
        <property name="aClass.cid" value="123"/>
        <property name="aClass.cname" value="asngdlakg"/>
        <property name="teacherMap">
            <map>
                <entry key="ads" value-ref="teacher1"/>
                <entry key="aaa" value-ref="teacher2"/>
            </map>
        </property>
    </bean>


    <!--    内部bean，只能在内部中使用，不能直接被ioc容器获取-->
    <bean id="studentfour" class="com.zhr.springhello.pojo.Student">
        <property name="sid" value="1004"/>
        <property name="sname" value="阿卡纳发"/>
        <property name="age" value="145"/>
        <property name="gender" value="男"/>
        <property name="aClass">
            <bean id="classinner" class="com.zhr.springhello.pojo.Class">
                <property name="cname" value="asghas"/>
                <property name="cid" value="1"/>
            </bean>
        </property>
        <!--给数组类型的元素赋值-->
        <property name="hobby">
            <array>
                <value>nkakgrn</value>
                <value>asgagr</value>
                <value>asdgsaggas</value>
            </array>
        </property>
    </bean>
    <bean id="studentfive" class="com.zhr.springhello.pojo.Class">
        <property name="cid" value="1"/>
        <property name="cname" value="fbaaf"/>
        <property name="students" ref="studentlist"/>
        <!--        <property name="students">-->
        <!--            <list>-->
        <!--                <ref bean="student"/>-->
        <!--                <ref bean="studenttwo"/>-->
        <!--                <ref bean="studentthree"/>-->
        <!--                <ref bean="studentfour"/>-->
        <!--            </list>-->
        <!--        </property>-->
    </bean>
    <!-- 配置集合类型的bean，需要使用utils的约束-->
    <utils:list id="studentlist">
        <ref bean="student"/>
        <ref bean="studenttwo"/>
        <ref bean="studentthree"/>
    </utils:list>
    <utils:map id="map">
        <entry key="ads" value-ref="teacher1"/>
        <entry key="aaa" value-ref="teacher2"/>
    </utils:map>
    <!--p命名空间-->
    <bean id="studentsix" class="com.zhr.springhello.pojo.Student"
          p:sid="1005" p:sname="小明" p:teacherMap-ref="map">

    </bean>

</beans>