<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
        bean  ：配置一个对象，将对象交给IOC容器管理
       class : 设置bean对象对应的类型
    -->
    <bean id="helloworld" class="com.zhr.springhello.SpringHello"/>
    <bean id="student" class="com.zhr.springhello.Student">
        <!--       setter 注入
                property 通过成员变量的方法来进行赋值
                name 设置需要赋值的属性名
                value 设置为属性所赋的值
        -->
        <property name="sid" value="1001"/>
        <property name="sname" value="张三"/>
        <property name="gender" value="男"/>
        <property name="age" value="23"/>
    </bean>
    <bean id="studentone" class="com.zhr.springhello.Student">
        <constructor-arg value="1002"/>
        <constructor-arg value="李四"/>
        <constructor-arg value="24"/>
        <constructor-arg value="女"/>
    </bean>

</beans>