<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="userController" class="com.zhr.springhello.Controller.UserController" autowire="byType">
        <!--        <property name="userService" ref="userService"/>-->
    </bean>
        <bean id="userService" class="com.zhr.springhello.Service.impl.UserServiceImpl" autowire="byType">
            <!--        <property name="userDao" ref="userDao"/>-->
        </bean>

        <bean id="userDao" class="com.zhr.springhello.dao.impl.UserDaoImpl">
        </bean>

</beans>